<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <form action="{{url_for('register')}}" method="post">
       
        <p>
            <label for="username">Username</label>
            <input type="text" name="username"
                   placeholder="John Doe">
            </input>
        </p>

        <p>
            <label for="password">Password</label>
            <input type="password" name="password"
                   placeholder=" ...">
            </input>
        </p>

        <p>
            <label for="email">Email</label>
            <input type="email" name="email"
                   placeholder="studentname@email.com">
            </input>
        </p>

        
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
    {% endblock %}
</body>
</html>